# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
env/
venv/
.venv/
pip-wheel-metadata/
*.egg-info/
dist/
build/

# IDEs
.vscode/
.idea/

# SQLite DB
data.db

# Secrets
.env
instance/
*.pem
handshake_debug.log
script.txt
